<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>YouTube 2 MP3</title>
</head>

<body>

  <div class="top-container">
    <form action="/convert-mp3" method="POST" id="form">
      <h1><i class="fab fa-youtube"></i> Diego's YouTube to MP3 & MP4 Converter</h1>
      <h4>Enter the video ID</h4>
      <div>
        <input type="text" name="videoId" placeholder="Video ID or URL..."><button id="submit-btn">Convert</button>
      </div>
    </form>
  </div>

  <div class="bottom-container">
    <% if (typeof success != "undefined" && success) { %>
      <div class="success">
        <p> <%= song_title %> </p>
        <a href="<%= song_link %>"><button class="download-btn" id="MP3-button">DOWNLOAD MP3 <i class="fa-solid fa-headphones"></i></button></a>
        <a href="<%= song_link4 %>"><button class="download-btn" id="MP4-button">DOWNLOAD MP4 <i class="fa-solid fa-video"></i></button></a>
      </div>
    <% } else if (typeof success != "undefined" && !success) { %>
      <div class="errors">
        <p> <%= message %> </p>
      </div>
    <% } %>
  </div>

</body>

</html>